body {
    background-color: white;
    color: black;
    margin: 0 auto;
}
.head {
    background-color: rgb(47, 47, 145);
    color: white;
    padding: 40px;
<<<<<<< HEAD
    border-radius: 1%;
}

#div2,
#div3 {
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 1%;
    border-width: 1px;
}

#topBar {
    background-color: rgb(47, 47, 145);
    color: white;

=======
    text-align: center;
    margin-bottom: 30px;
}
.btn-primary {
    float: left;
    margin-right: 10px;
}
#top-bar {
    background-color: rgb(97, 96, 96);
    color: white;
>>>>>>> 7d7c9ff519f0f8310827b4c97e8d755a3aa757d4
}